
@import 'mixin';
@import 'header';
@import 'footer';




* {
text-decoration: none;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;

    h2 {
        font-family: "Shrikhand";
    }
       .logo_header {
           display: flex;
           align-items: center;
           justify-content: space-between;
           
           .fas {
               font-size: 30px;
           }

           img {
               width: 70%;
               position: relative;
           }
       }
    
       .logo_image span {
        font-family: "Shrikhand";
        font-size: 50px;
    }
    
       .arrow_icon {
           font-size: 20px;
           color: black;
       }
    
        main img {
            width: 100%;
            height: 450px;
            object-fit: cover;
        }
    
        .global_box {
            display: flex;
            flex-direction: column;
            border-radius: 50px 50px 0px 0px;
            width: 100%;
            background-color: #F2F2F2;
            align-items: center;
            position: absolute;
            z-index: 1;
            position: relative;
            margin-top: -60px;

            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .restaurant_title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 80%;
                margin-left: 20px;
                margin-right: 20px;
            }
            
            .restaurant_name {
                font-size: 32px;
            }
            
            .card_restaurant_icon {
                font-size: 24px;
            }
        
            em {
                font-style: normal;
                padding-bottom: 2px;
                border-bottom: solid #99E2D0;
                margin-left: 8px;
            }

            /* menu */
            .main_box {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 15px;

                .food_box {
                    display: flex;
                    justify-content: space-between;
                    gap: 30%;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    border-radius: 30px;
                    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.20);
                    -moz-box-shadow: 1px 1px 2px 0px rgba(153, 107, 107, 0.2);
                     box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.20);
                    border-radius: 15px 15px 15px 15px;
                    animation: opacity 1s both;
                    animation-delay: 0.2s;
                    overflow: hidden;
                }
            
                .food_box:hover .check {
                    margin-right: 0px;
                    transition: margin-right 0.5s;
            
                    i {
                        animation: spin 0.5s;
                    }
                }
            
                /* spin animation */

                @keyframes spin {
                    0% {
                        transform: rotate(0);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            
                @keyframes opacity {
                    0% { opacity: 0;
                    }
                    100% {
                        opacity: 1; 
                    }
                }
            
                .animation2 {
                    animation-delay: 0.4s;
                    
                }
            
                .animation3 {
                    animation-delay: 0.7s;
                }
            
                .food_card_name {
                    margin-left: 15px;
                margin-bottom: 0px;
                overflow: hidden;
                }

                .apetizclass {
                    margin-top: 0px;
                    p {
                        margin-top: 0px;
                    }
                }
                
                .food_name p {
                    font-size: 20px;
                    font-weight: bold;
                    margin-left: 10px;
                    margin-top: 10px;
                    margin-bottom: 8px;
                    
                }
            
                .food_subname p {
                    font-weight: normal;
                    margin-top: 0px;
                    margin-left: 10px;
                }
                
                .food_price {
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    gap: 5px ;
                }
                
                .food_box_align {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 75px;
                    gap: 10px;
                    margin-left: 5px;
                    margin-right: 5px;
                }
            
                .align_purchase {
                    display: flex;
                    justify-content: center;
                }

                
            
                .align_purchase a {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                    margin-bottom: 50px;
                    width: 30% ;
            
                    span {
                        @include orderbutton;
                    }
                    
                    span:hover {
                        box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 80%);
                        filter: brightness(1.10);
                        transition: all 0.5s ease-out;
                     }
                }

                
            
                .check {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    margin-right: -50px;
                    width: 50px;
                    height: 100%;
                    background: #99E2D0;
                    transition-duration: .5s;
                    i {
                        font-size: 30px;
                        color: white;
                    }
                }
            }  
        }

        /* heart animation */

        .card_restaurant_icon .far {
            transform: translateX(100%);
            color: black;
        } 
        
            .card_restaurant_icon .fas {
                color: transparent;
                background-image: linear-gradient($secondary-color,$primary-color);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 300ms;
                transform: scale(1.1);
            } 
            
            .card_restaurant_icon .fas:hover {
            opacity: 1;
            } 
    }   
}
    
