@media screen and (min-width: 992px) {
    @import 'desktop'; 
}

@media screen and (max-width: 991px) {
    @import 'mixin';
    @import 'header';
    @import 'mainboxes';
    @import 'footer';

    * {
        box-sizing: border-box;

        body {
            font-family: 'Roboto', sans-serif;
            margin: 0px;

            .location_header form {
                display: flex;
                justify-content: center;
                margin-left: 90px;
        
                .searchtest {
                    padding-right: 15px;
                }
        
                .textsearch input {
                    border: none;
                    font-family: 'Roboto', sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    background-color: #E2E2E2;
                }
        
                .buttonsearch {
                    display: none;
                }
            }
            
            ::placeholder {
                color: black;
            }
        
            /* manual section */
            .title_card {
                font-family: 'Shrikhand', sans-serif;
                margin-top: 50px;
                margin-left: 10px;
                font-size: 30px;
            }
        
            .book_box a {
                text-decoration: none;
            }
            
            /* book section */
            .book_box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #F2F2F2;
                gap: 20px;
                height: 390px;
            }
        
            .card_book1 {
                display: flex;
                justify-content: center;
        
                span {
                    font-size: 30px;
                    text-align: center;
                    font-weight: bold;
                    margin-right: 40px;
                    margin-left: 40px;
                }
            }
        
            .card_book2 {
                display: flex;
                justify-content: center;
        
                span {
                    font-size: 22px;
                    text-align: center;
                    margin-left: 30px;
                    margin-left: 30px;
                }
            }
        
            .card_book3 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
        
                span {
                    @include orderbutton;
                }
        
                span:hover {
                    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 80%);
                    filter: brightness(1.10);
                    transition: all 0.5s ease-out;
                 }
        
                a {
                    display: inline-block;
                }
            }
        
            /* restaurants */
            h2 {
                font-size: 30px;
                margin-left: 8px;
            }
        
            .restaurants_global_box {
                padding-top: 5px;
                padding-bottom: 40px;
                background-color: #F2F2F2;
            }
        
            .restaurants_box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 15px;
            }
        
            .card_restaurant {
                display: flex;
                flex-direction: column;
                position: relative;
                width: 90%;
                box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.20);
                -moz-box-shadow: 1px 1px 2px 0px rgba(153, 107, 107, 0.2);
                box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.20);
                border-radius: 15px 15px 15px 15px;
                justify-content: center;
            }
        
            .card_restaurant a {
                text-decoration: none;
                height: 300px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                position: relative;
            }
        
           .card_restaurant a img {
                width: 100%;
                height: 70%;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
            } 
        
            .card_restaurant_align {
                display: flex;
                flex-direction: column;
                gap: 3px;
            }
        
            .card_restaurant_align_icon {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 15px;
                margin-right: 15px;
            }
        
            .card_restaurant_text1 {
                font-size: 24px;
                font-weight: bold;
                color: black;
            }
        
            .card_restaurant_text2 {
                font-size: 24px;
                color: black;
            }
        
            .card_restaurant_icon {
                font-size: 28px;
                text-decoration: none;
            }
        
            .card_restaurant_icon i:hover {
                font-size: 28px;
            }

            .newrestaurant {
                display: flex;
                background: #99e2d0;
                position: absolute;
                right: 15px;
                margin-top: 25px;
                span {
                    color: #1b6150;
                    padding: 10px 20px;
                }
            }
            
            .spinner {
                width: 100px;
                height: 100px;
                position: fixed;
                margin: 40%;
                
            }
        
            .spinner div {
                box-sizing: border-box;
                position: absolute;
                width : 100%;
                height: 100%;
                border: 10px solid transparent;
                border-top-color: #ad60f5;
                border-radius: 50%;
                animation: spinnerOne 1.5s linear ;
                visibility: hidden;
            }
        
            .spinner div:nth-child(2) {
                border: 10px solid transparent;
                border-bottom-color: #ad60f5;
            }
        
            @keyframes spinnerOne {
                0% { visibility: visible; transform: rotate(0deg) ; border-width: 10px;}
                50% { opacity: 0.9; transform: rotate(180deg) ; border-width: 1px;}
                100% { visibility: hidden; opacity: 0 ; transform: rotate(360deg) ; border-width: 10px;}
            }
            
        
           /* heart animation */

           .card_restaurant_icon .far {
            transform: translateX(100%);
            color: black;
        } 
        
            .card_restaurant_icon .fas {
                color: transparent;
                background-image: linear-gradient($secondary-color,$primary-color);
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 300ms;
                transform: scale(1.1);
            } 
            
            .card_restaurant_icon .fas:hover {
            opacity: 1;
            } 
        }
    }
 }

    