@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&family=Shrikhand&display=swap");
footer {
  font-weight: bold;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.733);
  padding-bottom: 20px;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
  margin-top: 0px;
}
footer ul li {
  display: flex;
  gap: 15px;
  list-style: none;
  color: white;
  text-decoration: none;
}
footer ul li a {
  color: white;
  text-decoration: none;
}
footer ul li.title_footer {
  margin-top: 20px;
  margin-bottom: 5px;
}
footer ul li i {
  width: 15px;
}
footer ul li img {
  width: 120px;
  padding-bottom: 5px;
  padding-top: 5px;
}

@media screen and (min-width: 992px) {
  .box_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo_header {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  .logo_header img {
    width: 70%;
  }

  .location_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2E2E2;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer {
    font-weight: bold;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.733);
    padding-bottom: 20px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5px;
    margin-top: 0px;
  }
  footer ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    color: white;
    text-decoration: none;
  }
  footer ul li a {
    color: white;
    text-decoration: none;
  }
  footer ul li.title_footer {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  footer ul li i {
    width: 15px;
  }
  footer ul li img {
    width: 120px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  * {
    text-decoration: none;
  }
  * body {
    font-family: "Roboto", sans-serif;
  }
  * body h2 {
    font-family: "Shrikhand";
  }
  * body .logo_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  * body .logo_header .fas {
    font-size: 30px;
  }
  * body .logo_header img {
    width: 70%;
  }
  * body .logo_image span {
    font-family: "Shrikhand";
    font-size: 50px;
  }
  * body .arrow_icon {
    font-size: 20px;
    color: black;
  }
  * body main img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
  * body .global_box {
    display: flex;
    flex-direction: column;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    background-color: #F2F2F2;
    align-items: center;
    transform: translateY(-5%);
    /* menu */
  }
  * body .global_box .restaurant_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
  }
  * body .global_box .restaurant_name {
    font-size: 32px;
  }
  * body .global_box .card_restaurant_icon {
    font-size: 24px;
  }
  * body .global_box em {
    font-style: normal;
    padding-bottom: 2px;
    border-bottom: solid #99E2D0;
  }
  * body .global_box .main_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    /* spin animation */
  }
  * body .global_box .main_box .food_box {
    display: flex;
    justify-content: space-between;
    gap: 30%;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px 0px rgba(153, 107, 107, 0.2);
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 15px 15px;
    animation: opacity 1s both;
    animation-delay: 0.2s;
    overflow: hidden;
  }
  * body .global_box .main_box .food_box:hover .check {
    margin-right: 0px;
    transition: margin-right 0.5s;
  }
  * body .global_box .main_box .food_box:hover .check i {
    animation: spin 0.5s;
  }
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  * body .global_box .main_box .animation2 {
    animation-delay: 0.4s;
  }
  * body .global_box .main_box .animation3 {
    animation-delay: 0.7s;
  }
  * body .global_box .main_box .food_card_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  * body .global_box .main_box .food_name {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
  }
  * body .global_box .main_box .food_subname {
    margin-left: 10px;
  }
  * body .global_box .main_box .food_price {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 5px;
  }
  * body .global_box .main_box .food_box_align {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  * body .global_box .main_box .align_purchase {
    display: flex;
    justify-content: center;
  }
  * body .global_box .main_box .align_purchase a {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 30%;
  }
  * body .global_box .main_box .align_purchase a span {
    font-size: 20px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 50px;
    padding: 20px 30px 20px 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  * body .global_box .main_box .align_purchase a span:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    filter: brightness(1.1);
    transition: all 0.5s ease-out;
  }
  * body .global_box .main_box .check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
    width: 50px;
    height: 100%;
    background: #99E2D0;
  }
  * body .global_box .main_box .check i {
    font-size: 30px;
    color: white;
  }
}
@media screen and (max-width: 991px) {
  .box_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo_header {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  .logo_header img {
    width: 70%;
  }

  .location_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E2E2E2;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  * {
    text-decoration: none;
  }
  * body {
    font-family: "Roboto", sans-serif;
    /* spin animation */
  }
  * body header {
    font-family: "Shrikhand";
  }
  * body .logo_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
  }
  * body .logo_header img {
    width: 70%;
  }
  * body .logo_header i {
    font-size: 25px;
    color: black;
  }
  * body main img {
    width: 100%;
    object-fit: cover;
  }
  * body .highimg {
    height: 400px;
  }
  * body .global_box {
    display: flex;
    flex-direction: column;
    border-radius: 50px 50px 0px 0px;
    width: 100%;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
    transform: translateY(-5%);
  }
  * body .restaurant_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
  }
  * body h2 {
    font-family: "Shrikhand";
  }
  * body .restaurant_name {
    font-size: 32px;
  }
  * body .card_restaurant_icon {
    font-size: 24px;
  }
  * body em {
    font-style: normal;
    padding-bottom: 2px;
    border-bottom: solid #99E2D0;
  }
  * body .main_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  * body .food_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 8px 0px rgba(153, 107, 107, 0.2);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px 15px 15px 15px;
    animation: opacity 1s both;
    animation-delay: 0.2s;
    overflow: hidden;
  }
  * body .food_box:hover .check {
    margin-right: 0px;
    transition: margin-right 0.5s;
  }
  * body .food_box:hover .check i {
    animation: spin 0.5s;
  }
  * body .check {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: -50px;
    width: 50px;
    height: 100%;
    background: #99E2D0;
  }
  * body .check i {
    font-size: 30px;
    color: white;
  }
  * body .food_card_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-left: 15px;
  }
  * body .food_card_name .food_subname {
    font-weight: normal;
  }
  * body .food_name {
    font-size: 20px;
    font-weight: bold;
  }
  * body .food_price {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
  }
  * body .food_box_align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 320px;
    margin-left: 5px;
    margin-right: 5px;
  }
  * body .align_purchase a {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 30%;
  }
  * body .align_purchase a span {
    font-size: 20px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border-radius: 50px;
    padding: 20px 30px 20px 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
  * body .align_purchase a span:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
    filter: brightness(1.1);
    transition: all 0.5s ease-out;
  }
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  * body .animation2 {
    animation-delay: 0.4s;
  }
  * body .animation3 {
    animation-delay: 0.7s;
  }
  * body .align_purchase {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=restaurant_style.css.map */
